<div class="row">
  <div class="col-lg-12">
    <p style="text-align: center; font-size: 28px; font-weight: 500; margin-top: 20px;">
      Про нас
    </p>
    <div class="first">
      <p style="font-size: 24px; font-weight: 500;">Хто ми такі?</p>
      <p>Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="second">
      <p style="font-size: 24px; font-weight: 500;">Чому саме ми?</p>
      <p>Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
</div>
