<div class="main">
<div class="row">
  <div class="col-lg-12">


      <p class="main-txt">ШВИДКИЙ РЕМОНТ ВАШОГО ГАДЖЕТУ</p>
      <p class="sub-txt">
       Просто надішліть свій смартфон, і ми подбаємо про нього. <br>
       Ми виконаємо ремонт вашого гаджету якнайкраще та якнайшвидше.
     </p>

  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-4 text-center ">

      <button class="btn btns ">
        Замовити ремонт
      </button>
  </div>
</div>

</div>
<div class="row">
  <div class="col-lg-12">
    <div class="section-two">
      <p class="txt">
        НАШІ ПОСЛУГИ З РЕМОНТУ
       </p>
       <p class="txt-second">
         Будь-які проблеми з вашим смартфоном, які вам потрібно вирішити.
         Ми завжди можемо допомогти.
         Перегляньте наші послуги та іх вартість, щоб дізнатися більше про те, чи відповідає воно вашим вимогам.
       </p>
    </div>

  </div>
</div>
<div class="row justify-content-center">

  <div class="col-lg-6">
      <div class="section-three text-center">
      <div class="card text-center">
        <img src="https://img.icons8.com/clouds/2x/smartphone-bug.png" class="card-img-top w-100 img-fluid mx-auto d-block" alt="...">
        <div class="card-body">
          <h2 class="card-title">Ремонт смартфонів</h2>
          <p class="card-text">Ми ремонтуємо телефони всіх брендів та надаємо гарантію на 90 днів</p>
          <a routerLink="/home" class="btn order-btn">Перейти до замовлення</a>
        </div>
      </div>
    </div>
  </div>
</div>





